<!DOCTYPE html>
<html lang="en">
    <head th:replace="~{fragments/menu.html :: header( title = 'Estadísticas-Equipos')}">
    </head>
    <body>
        <div class="container px-4 pb-5">
            <nav th:replace="~{fragments/menu.html :: menu}"></nav>
            <h1 class="pb-2 border-bottom">Lista equipos por país</h1>


            <!-- <form method="post" th:action="@{/shipper/BuscarTransportistas}">
                 <input name="searchField" class="form-control mb-3" type="text" placeholder="Search"/>
             </form>-->
            <table class="table">
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Tipo</th>
                    <th>Modelo</th>
                    <th>Número Serial</th>
                    <th>País</th>
                </tr>
                <tr th:each="equipo, info : ${listaEquipos}">
                    <td th:text="${info.index + 1}"></td>
                    <td th:text="${equipo.deviceName}"></td>
                    <td th:text="${equipo.deviceType}"></td>
                    <td th:text="${equipo.model}"></td>
                    <td th:text="${equipo.serialNumber}"></td>
                    <td th:text="${equipo.country}"></td>

                </tr>
            </table>
        </div>

    </body>
</html>