<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragments/menu.html :: header( title = 'CreadoEditado')}"></head>
    <body>
        <div class="container">
            <nav th:replace="~{fragments/menu.html :: menu}"></nav>
            <div class="row mb-4">
                <div class="col-md-6 offset-md-3">
                    <h2>Tecnico</h2>
                    <!--<div th:if="${errorCompany != null}" th:text="${errorCompany}" class="alert alert-danger"
                         role="alert"></div>-->
                    <hr/>
                    <form method="post" th:action="@{'/guardar'}" th:object="${technician}">

                        <input type="hidden" th:field="*{id}">

                        <div class="mb-3">
                            <label class="form-label">Nombre</label>
                            <input type="text" class="form-control" th:field="*{firstName}" th:classappend="${#fields.hasErrors('firstName')?'is-invalid':''}">
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Apellido</label>
                            <input type="text" class="form-control" th:field="*{lastName}" th:classappend="${#fields.hasErrors('lastName')?'is-invalid':''}">
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>

                        </div>
                        <div class="mb-3">
                            <label class="form-label">DNI</label>

                            <input type="text" class="form-control" th:field="*{dni}" th:classappend="${#fields.hasErrors('dni')?'is-invalid':''}">
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('dni')}" th:errors="*{dni}"></div>

                        </div>
                        <div class="mb-3">
                            <label  class="form-label">Telefono</label>
                            <input type="text" class="form-control" th:field="*{phone}" th:classappend="${#fields.hasErrors('phone')?'is-invalid':''}">
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Edad</label>
                            <input type="text" class="form-control" th:field="*{age}" th:classappend="${#fields.hasErrors('age')?'is-invalid':''}">
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></div>
                        </div>

                        <a th:href="@{'/listarTecnicos'}" class="btn btn-danger">Cancelar</a>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>